# Drugbank

Author: Moshe Silverstein <br/>
Date: 8-17 <br/>
Data Source: http://www.drugbank.ca/

In [1]:
import sys, datetime, os
import numpy as np
import pandas as pd
import importlib
import my_functions as mf
%matplotlib inline

In [2]:
importlib.reload(mf)

# Load Data

In [74]:
df = pd.read_csv('Input/all.csv')

In [75]:
df.head()

,ID,Name,Gene Name,GenBank Protein ID,GenBank Gene ID,UniProt ID,Uniprot Title,PDB ID,GeneCard ID,GenAtlas ID,HGNC ID,Species,Drug IDs
0,P45059,Peptidoglycan synthase FtsI,ftsI,1574687.0,L42023,P45059,FTSI_HAEIN,NaN,NaN,NaN,NaN,Haemophilus influenzae (strain ATCC 51907 / DS...,DB00303
1,P19113,Histidine decarboxylase,HDC,32109.0,X54297,P19113,DCHS_HUMAN,4E1O,NaN,HDC,HGNC:4855,Human,DB00114; DB00117
2,Q9UI32,"Glutaminase liver isoform, mitochondrial",GLS2,6650606.0,AF110330,Q9UI32,GLSL_HUMAN,4BQM,NaN,GLS2,HGNC:29570,Human,DB00142
3,P00488,Coagulation factor XIII A chain,F13A1,182309.0,M22001,P00488,F13A_HUMAN,1EVU; 1EX0; 1F13; 1FIE; 1GGT; 1GGU; 1GGY; 1QRK...,NaN,F13A1,HGNC:3531,Human,DB01839; DB02340; DB11311; DB13151
4,P35228,"Nitric oxide synthase, inducible",NOS2,292242.0,L09210,P35228,NOS2_HUMAN,1NSI; 2LL6; 2NSI; 3E7G; 3EJ8; 3HR4; 4CX7; 4NOS,NaN,NOS2A,HGNC:7873,Human,DB00125; DB00155; DB01110; DB01234; DB01686; D...

In [77]:
df.shape

(4335, 13)

# Load Drug Meta Data

In [81]:
drug_meta = pd.read_csv('Input/drug links.csv', index_col=0)

In [82]:
drug_meta.head()

,Name,CAS Number,Drug Type,KEGG Compound ID,KEGG Drug ID,PubChem Compound ID,PubChem Substance ID,ChEBI ID,PharmGKB ID,HET ID,...,GenBank ID,DPD ID,RxList Link,Pdrhealth Link,Wikipedia ID,Drugs.com Link,NDC ID,ChemSpider ID,BindingDB ID,TTD ID
DrugBank ID,,,,,,,,,,,,,,,,,,,,,
DB00001,Lepirudin,138068-37-8,BiotechDrug,NaN,D06880,NaN,NaN,NaN,PA450195,NaN,...,NaN,11916,http://www.rxlist.com/cgi/generic/lepirudin.htm,NaN,Lepirudin,http://www.drugs.com/cdi/lepirudin.html,NaN,NaN,NaN,DAP000541
DB00002,Cetuximab,205923-56-4,BiotechDrug,NaN,D03455,NaN,NaN,NaN,PA10040,NaN,...,J00228,13175,http://www.rxlist.com/cgi/generic3/erbitux.htm,NaN,Cetuximab,http://www.drugs.com/cdi/cetuximab.html,NaN,NaN,NaN,DNC000788
DB00003,Dornase alfa,143831-71-4,BiotechDrug,NaN,NaN,NaN,NaN,NaN,PA10318,NaN,...,M55983,650,http://www.rxlist.com/cgi/generic/pulmozyme.htm,NaN,Dornase_alfa,http://www.drugs.com/cdi/dornase-alfa.html,NaN,NaN,NaN,DAP000981
DB00004,Denileukin diftitox,173146-27-5,BiotechDrug,NaN,NaN,NaN,NaN,NaN,PA164750594,NaN,...,V01536,NaN,http://www.rxlist.com/cgi/generic2/denileukin.htm,NaN,Denileukin_diftitox,http://www.drugs.com/cdi/denileukin-diftitox.html,NaN,NaN,NaN,DAP001098
DB00005,Etanercept,185243-69-0,BiotechDrug,C07897,D00742,NaN,NaN,NaN,PA449515,NaN,...,M32315,12032,http://www.rxlist.com/cgi/generic/etanercept.htm,NaN,Etanercept,http://www.drugs.com/cdi/etanercept.html,NaN,NaN,NaN,DNC000605

In [83]:
drug_meta.shape

(9588, 22)

# Get Relevant Data

In [89]:
# get only relevetn spcies

human = df[df['Species'] == 'Human'].copy()
mouse = df[df['Species'] == 'Mouse'].copy()
rat = df[df['Species'] == 'Rat'].copy()

df = pd.concat([human, mouse])
df = pd.concat([df, rat])

In [92]:
df = df[['Gene Name', 'Drug IDs']]

In [93]:
df.shape

(2510, 2)

In [94]:
df.head()

  Gene Name                                           Drug IDs
1       HDC                                   DB00114; DB00117
2      GLS2                                            DB00142
3     F13A1                 DB01839; DB02340; DB11311; DB13151
4      NOS2  DB00125; DB00155; DB01110; DB01234; DB01686; D...
5   HSD17B2                                            DB00157

In [96]:
df_interactions = pd.DataFrame()

for i, index in enumerate(df.index):
    
    progressPercent = ((i+1)/len(df.index))*100

    sys.stdout.write("Progeres: %d%%  %d Out of %d   \r" % (progressPercent, (i+1), len(df.index)))
    sys.stdout.flush()
    
    if type(df.ix[index, 'Gene Name']) != float:
        lst2 = df.ix[index, 'Drug IDs'].split(';')
        lst1 = [df.ix[index, 'Gene Name'].split('(')[0]]*(len(lst2))
        temp = pd.DataFrame()
        temp['Drug'] = lst2
        temp['Gene Name'] = lst1
        df_interactions = pd.concat([df_interactions, temp])

In [97]:
df_interactions.head()

       Drug Gene Name
0   DB00114       HDC
1   DB00117       HDC
0   DB00142      GLS2
0   DB01839     F13A1
1   DB02340     F13A1

In [98]:
df_interactions.shape

(12292, 2)

# Map Gene Symbols To Up-to-date Approved Gene Symbols¶

In [99]:
df_interactions.set_index('Gene Name', inplace=True)

In [100]:
mf.mapgenesymbols(df_interactions)

# Drop Duplicates

In [101]:
df_interactions.reset_index(inplace=True)

In [102]:
df_interactions.drop_duplicates(inplace=True)

In [103]:
df_interactions.shape

(12104, 2)

# Create Binary Matrix

In [104]:
binary_matrix = mf.createBinaryMatix(df_interactions)

In [105]:
binary_matrix.head()

,DB06995,DB04275,DB07231,DB05119,DB02336,DB07720,DB03286,DB00599,DB02378,DB04444,...,DB07001,DB05469,DB08687,DB08258,DB04209,DB08499,DB00013,DB08870,DB05227,DB03711
GSTM1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SELP,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GHSR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
WARS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ASIC3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [106]:
binary_matrix.shape

(2265, 5421)

# Save Binary Matrix

In [107]:
filename = '~/./Documents/Harmonizome/Drugbank/Output/drugbank_binary_matrix_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
binary_matrix.to_csv(filename, sep='\t', compression='gzip')

# Create Gene Set Library

In [108]:
path = '/Users/moshesilverstein/Documents/Harmonizome/Drugbank/Output/'

In [109]:
name = 'drugbank_gene_set'

In [110]:
mf.createUpGeneSetLib(binary_matrix, path, name)

# Create Attribute Library

In [111]:
path = '/Users/moshesilverstein/Documents/Harmonizome/Drugbank/Output/'

In [112]:
name = 'drugbank_attribute_set'

In [113]:
mf.createUpAttributeSetLib(binary_matrix, path, name)

# Create Gene Similarity Matrix

In [114]:
gene_similarity_matix = mf.createSimilarityMatrix(binary_matrix, 'jaccard')

In [115]:
gene_similarity_matix.head()

,GSTM1,SELP,GHSR,WARS,ASIC3,SMPD1,ADA,LAYN,SLC5A6,SLC25A15,...,SCNN1G,ASL,GABRB3,LDHAL6B,OPLAH,NCOA2,RDH8,FLT4,PHGDH,MT-CYB
GSTM1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SELP,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GHSR,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
WARS,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASIC3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Save Gene Similarity Matrix

In [116]:
filename = '~/./Documents/Harmonizome/Drugbank/Output/drugbank_gene_similarity_matix_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
gene_similarity_matix.to_csv(filename, sep='\t', compression='gzip')

# Create Attribute Similarity matrix

In [117]:
attribute_similarity_matix = mf.createSimilarityMatrix(binary_matrix.T, 'jaccard')

In [118]:
attribute_similarity_matix.head()

,DB06995,DB04275,DB07231,DB05119,DB02336,DB07720,DB03286,DB00599,DB02378,DB04444,...,DB07001,DB05469,DB08687,DB08258,DB04209,DB08499,DB00013,DB08870,DB05227,DB03711
DB06995,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DB04275,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DB07231,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DB05119,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DB02336,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Save Attribute Similarity Matrix

In [119]:
filename = '~/./Documents/Harmonizome/Drugbank/Output/drugbank_attribute_similarity_matix_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
attribute_similarity_matix.to_csv(filename, sep='\t', compression='gzip')

# Create Gene List

In [120]:
gene_list = mf.createGeneList(binary_matrix)

In [121]:
gene_list.head()

  GeneSym GeneID
0   GSTM1   2944
1    SELP   6403
2    GHSR   2693
3    WARS   7453
4   ASIC3   9311

In [122]:
gene_list.shape

(2265, 2)

# Save Gene List

In [123]:
filename = '~/./Documents/Harmonizome/Drugbank/Output/drugbank_gene_list_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
gene_list.to_csv(filename, sep='\t', index=False, compression='gzip')

# Create Attribute List

In [124]:
attribute_list = mf.createAttributeList(binary_matrix)

In [125]:
attribute_list.head()

  Attributes
0    DB06995
1    DB04275
2    DB07231
3    DB05119
4    DB02336

In [126]:
attribute_list.shape

(5421, 1)

# Save Attribute List

In [127]:
filename = '~/./Documents/Harmonizome/Drugbank/Output/drugbank_attribute_list_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
attribute_list.to_csv(filename, sep='\t', index=False, compression='gzip')

# Create Gene-Attribute Edge List

In [128]:
path = '/Users/moshesilverstein/Documents/Harmonizome/Drugbank/Output/'

In [129]:
name = 'drugbank_gene_attribute_edge_list'

In [130]:
mf.createGeneAttributeEdgeList(binary_matrix, gene_list, path, name)

Progeres: 100%  5421 Out of 5421

 The number of statisticaly relevent gene-attribute associations is: 12104